################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/trunk/DefaultCombat/packages/log4net.2.0.5
